In [1]:
import pandas as pd

In [2]:
dataframe=pd.read_csv('spam.csv',encoding='latin-1')
dataframe.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [79]:
dataframe.drop(['Unnamed: 2','Unnamed: 3'],inplace=True,axis=1)

KeyError: "['Unnamed: 2', 'Unnamed: 3'] not found in axis"

In [7]:
dataframe.drop(['Unnamed: 4'],inplace=True,axis=1)
dataframe.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
dataframe['v1'].replace({'ham':'1','spam':'0'},inplace=True)

In [9]:
dataframe.head()

  v1                                                 v2
0  1  Go until jurong point, crazy.. Available only ...
1  1                      Ok lar... Joking wif u oni...
2  0  Free entry in 2 a wkly comp to win FA Cup fina...
3  1  U dun say so early hor... U c already then say...
4  1  Nah I don't think he goes to usf, he lives aro...

In [11]:
dataframe.shape

(5572, 2)

In [12]:
dataframe.drop_duplicates(inplace=True)

In [13]:
dataframe.shape

(5169, 2)

In [14]:
dataframe.isnull().sum()

v1    0
v2    0
dtype: int64

# Naive Bayes Ml

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv=CountVectorizer()

In [17]:
x=dataframe['v2']

In [18]:
y=dataframe['v1']

In [19]:
x=cv.fit_transform(x)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [22]:
x_train.shape

(4652, 8672)

In [23]:
x_test.shape

(517, 8672)

In [24]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
model=MultinomialNB()

In [26]:
model.fit(x_train,y_train)

MultinomialNB()

In [27]:
model.score(x_test,y_test)

0.9787234042553191

In [28]:
#model.predict(free 10 dollar)

In [75]:
example=['free euro']

In [76]:
example=cv.transform(example)

In [77]:
prediction=model.predict(example)

In [78]:
prediction

array(['0'], dtype='<U1')